*{
    margin: 0;
    padding: 0;
}


.navigation{
    background: darkblue;
    text-align: center;
}

.navlink{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    vertical-align: middle;
}

.green-btn{
    padding: 10px 15px;
    background-color: aquamarine;
    border-radius: 5px;
}
.nav-image{
    height: 40px;

}
.slogan{
    background: url("https://ibatech.az/wp-content/uploads/2019/10/banner.jpg");
    background-size: cover;
    padding: 300px 0 600px;
    text-align: center;
    color: white;
}
.slogan-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
}